<h2>ELIMINAR ARTICULO</h2>

<form action="/articulos/borrar" method="post">
    Vuelve a introducir el id del articulo a borrar:<br>
    <input type="text" name='id' size="1"></p>
    
    <input type="submit" value="Borrar"><br><br>
    <a href="/articulos">Volver</a>
</form>