<h2>ARTICULOS</h2>

<a href="articulos/creartabla">Crear la tabla 'articulos' en SQL</a></p>
<a href="articulos/alta">Alta de artículos</a></p>
<a href="articulos/listado">Listado de artículos</a></p>
<a href="/">Volver</a></p>