<h2>ALTA DE ARTICULOS</h2>

<form method="post" action="/articulos/alta">
    Introduce el nombre del articulo: <br>
    <input type="text" name="nombre" size="30"> <br>
    Introduce el precio del articulo: <br>
    <input type="float" name="precio" size="10"> <br><br>
    <input type="submit" value="Dar de alta"><br><br>
    <a href="/articulos">Volver</a>
</form>