<h2>MODIFICACION DE ARTICULOS</h2>

<form action="/articulos/modificacion" method="post">
    Repite el id del articulo a modificar:<br>
    <input type="text" name='id' size="1">
    <br>
    Introduce el nuevo precio del articulo:<br>
    <input type="text" name='precio' size="'30"><br>
    <br>
    <input type="submit" value="Modificar"><br><br>
    <a href="/articulos">Volver</a>
</form>