<h2>LISTADO DE CLIENTES</h2>
{{#each clientes}}
<p>
   <b>Codigo: </b>{{id}} |
   <b>Nombre: </b>{{nombre}} |
   <b>Teléfono: </b>{{telefono}} |
   <b>Categoria: </b>{{categoria}}
</p>
<p>*************************************************************************************************************</p>
{{/each}}
<a href="/clientes">Volver</a>