<h2>ALTA DE CLIENTES</h2>

<form method="post" action="/clientes/alta">
    Introduce el nombre: <br>
    <input type="text" name="nombre" size="30"> <br>
    Introduce el teléfono: <br>
    <input type="int" name="tlf" size="9"> <br>
    Introduce la categoria: <br>
    <input type="text" name="cat" size="4"> <br><br>
    <input type="submit" value="Dar de alta"><br><br>
    <a href="/clientes">Volver</a>
</form>