<h2>CLIENTES</h2>

<a href="clientes/creartablacliente">Crear la tabla 'clientes' en SQL</a></p>
<a href="clientes/alta">Alta de cliente</a></p>
<a href="clientes/listado">Listado de clientes</a></p>
<a href="/">Volver</a>